@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import helper._
@import uk.gov.hmrc.gform.config.FrontendAppConfig


@(
        formTemplateId4Ga: FormTemplateId,
        formId: FormId,
        lang: Option[String],
        frontendAppConfig: FrontendAppConfig
)(
        implicit
        request: RequestHeader, //required by CSRF.formField
        messages: Messages
)



@uk.gov.hmrc.gform.views.html.main_template(
    title = "Confirm Delete",
    frontendAppConfig = frontendAppConfig
) {

<form action="@uk.gov.hmrc.gform.gform.routes.FormController.delete(formTemplateId4Ga, formId, lang)" method="GET">
    <h1>Confirm Delete</h1>

    @{
    CSRF.formField
    }
        <strong>@formTemplateId4Ga.toString</strong>
        <br>

        <br>
        <br>
    </p>

    <br><br><button class="button">Delete</button><br><br>

    <p class="back-to-previous">
        <a href="@uk.gov.hmrc.gform.gform.routes.FormController.newForm(formTemplateId4Ga, lang)" >Back</a>
    </p>
</form>
}