@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import helper._
@import uk.gov.hmrc.gform.config.FrontendAppConfig


@(
        formTemplateId4Ga: FormTemplateId,
        formId: FormId,
        lang: Option[String],
        frontendAppConfig: FrontendAppConfig
)(
        implicit
        request: RequestHeader, //required by CSRF.formField
        messages: Messages
)



@uk.gov.hmrc.gform.views.html.main_template(
    title = "Confirm delete",
    frontendAppConfig = frontendAppConfig
) {

<form action="@uk.gov.hmrc.gform.gform.routes.FormController.delete(formTemplateId4Ga, formId, lang)" method="GET">
    <h1>Start your claim again?</h1>

    @{CSRF.formField}
    <div class="form-group">
      <div class="highlight-message highlight-message--light">
          If you select 'Start again', any saved details will be deleted and cannot be retrieved
      </div>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Delete and start again" />
    </div>

    <div class="form-group">
        <a href="@uk.gov.hmrc.gform.gform.routes.FormController.newForm(formTemplateId4Ga, lang)" class="link-back" value="Back">Back</a>
    </div>
</form>
}
