@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.gform.validation.FormFieldValidationResult
@import uk.gov.hmrc.gform.views.html.localisation
@import uk.gov.hmrc.play.views.html.helpers._

@(fieldValue: FormComponent, validationResultO: Option[FormFieldValidationResult])

    @validationResult = @{
        //it's always there, TODO: change template signature
        validationResultO.get
    }

    @safeId(id: String) = @{
        fieldValue.id.withSuffix(id).value
    }

    @showError(e: String) = @{
        errorInline(e, e, Seq(""))
    }

    @if(validationResult.isNotOk) {
    <tr class="summary--error">
      <td colspan="3">
        @{validationResult.globalErrors.map {error => {error}  }}
        @{validationResult.fieldErrorsByFieldValue.map {case(field, errors) =>
            errors.map(e => showError(e))
        }}
      </td>
    </tr>
    }

    <tr class="@{if(validationResult.isNotOk) "summary--error"}">
        <td class="grid-layout__column--1-3">
        @localisation(fieldValue.shortName.getOrElse(fieldValue.label))
        </td>

        <td>
            @List(
            "street1",
            "street2",
            "street3",
            "street4",
            "postcode",
            "country"
            ).map { suffix =>
            @if(validationResultO.map(_.getCurrentValue(safeId(suffix)).isEmpty).contains(false)) {
            @validationResultO.map(_.getCurrentValue(safeId(suffix))).getOrElse("")
            <br />
            }
            }
        </td>

        <td></td>
    </tr>
