@import uk.gov.hmrc.gform.models._
@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.gform.views.html.localisation

@(formTemplateId4Ga: FormTemplateId, formId: FormId, title: String, description: Option[String], idx: Int, totalSections: Int, lang: Option[String])

<table class="table--font-reset @if(idx == 0) { table--top-border }">
  <thead>
    <tr>
      <th class="grid-layout__column--1-3">
        <h2 class="h2-heading">@localisation(title)</h2>
      </th>

      <th class="text--right">
        <a class="print-hidden" href="@uk.gov.hmrc.gform.controllers.routes.FormController.form(formId, formTemplateId4Ga, SectionNumber(idx), totalSections, lang).url">
          Change <span class="visuallyhidden">@localisation(title)</span>
        </a>
      </th>
    </tr>
  </thead>

  <tbody>
