@import uk.gov.hmrc.gform.models.helpers.DateHelperFunctions._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.gform.validation.FormFieldValidationResult
@import uk.gov.hmrc.gform.views.html.localisation

@(fieldValue: FieldValue, validationResult: Option[FormFieldValidationResult])

@safeId(id: String) = @{
fieldValue.id.withSuffix(id).toString
}

<tr>
  <td>
    @localisation(fieldValue.shortName.getOrElse(fieldValue.label))
  </td>

  <td>
    @if(validationResult.map(_.getCurrentValue.isEmpty).contains(true)) {
        @{renderMonth(validationResult.map(_.getCurrentValue(safeId("day")))).getOrElse("")} @{getMonthValue(validationResult.map(_.getCurrentValue(safeId("month")))).getOrElse("")} @{validationResult.map(_.getCurrentValue(safeId("year"))).getOrElse("")}
    }
  </td>
</tr>
