@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.gform.validation.FormFieldValidationResult
@import uk.gov.hmrc.gform.views._
@import uk.gov.hmrc.gform.views.html.localisation
@import uk.gov.hmrc.gform.views.summary.TextFormatter
@import uk.gov.hmrc.play.views.html.helpers._

@(fieldValue: FormComponent, fileUpload: FileUpload, validationResult: Option[FormFieldValidationResult])

@hasErrors = @{validationResult.map(_.isNotOk).getOrElse(false)}

@errors = @{validationResult.map(_.fieldErrors.toList).getOrElse(Set().toList).map{ e =>
    errorInline("summary", e, Seq())
}}

<tr class="@if(hasErrors) {summary--error}">
    @if(hasErrors) {
      <td colspan="2" class="summary-cell--error">
          @errors
      </td>
    } else {
      <td colspan="2">
          @validationResult.map(_.getCurrentValue.getOrElse("")).getOrElse("")
      </td>
    }

    <td></td>
</tr>
