@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.gform.views.html.localisation
@import views.html.helper.CSRF
@import scala.concurrent.Future

@import uk.gov.hmrc.gform.sharedmodel.formtemplate.Orientation
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@(fieldValue: FormComponent, snippets: List[Html], orientation: Orientation)

<tr>
    <td>
        @localisation(fieldValue.shortName.getOrElse(fieldValue.label))
    </td>

    <td>
      @if(!fieldValue.presentationHint.map(_.filter(_==SummariseGroupAsGrid)).getOrElse(Nil).isEmpty) {
        <p>
          to be rendered as grid... 
        </p>
      }

      @{
         snippets
      }
    </td>
</tr>
