@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.gform.views.html.localisation
@import views.html.helper.CSRF

@import scala.concurrent.Future
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.Orientation
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.gform.validation.FormFieldValidationResult
@(fieldValue: FormComponent, fields: List[Option[FormFieldValidationResult]])

<tr>
    <td>
        @localisation(fieldValue.shortName.getOrElse(fieldValue.label))
    </td>

    <td>
    @fields.map{ field =>

            @if(fields) {
                <div class="inline-block"> <!--TODO need paul to properly format
                    @field.map(_.getCurrentValue).getOrElse("")
                </div>
            }
    }
    </td>
</tr>
