@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.gform.views.html.localisation
@import views.html.helper.CSRF
@import scala.concurrent.Future

@import uk.gov.hmrc.gform.sharedmodel.formtemplate.Orientation
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@(fieldValue: FormComponent, snippets: List[Html], orientation: Orientation)


@if(fieldValue.presentationHint.map(_.filter(_==SummariseGroupAsGrid)).getOrElse(Nil).isEmpty) {
<tr>
    <th colspan="3">
        <span class="h3-heading">@localisation(fieldValue.shortName.getOrElse(fieldValue.label))</span>
    </th>
</tr>
}

@{snippets}
