@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.gform.validation.FormFieldValidationResult
@import uk.gov.hmrc.gform.views._
@import uk.gov.hmrc.gform.views.html.localisation
@import uk.gov.hmrc.gform.views.summary.TextFormatter
@import uk.gov.hmrc.play.views.html.helpers._

@(fieldValue: FormComponent, text: Text, validationResult: Option[FormFieldValidationResult])

@isSterling = @{
    fieldValue.`type` match {
        case Text(Sterling, _) => true
        case _ => false
    }
}

@currentValue = @{TextFormatter.formatText(text, validationResult)}

@hasErrors = @{validationResult.map(_.isNotOk).getOrElse(false)}

@errors = @{validationResult.map(_.fieldErrors.toList).getOrElse(Set().toList).map{ e =>
    errorInline("", e, Seq())
}}

@if(hasErrors) {
    <tr>
        <td>
            @errors
        </td>
    </tr>
}

@* TODO: What should total style be? *@
<tr class="@if(fieldValue.presentationHint.fold[List[PresentationHint]](Nil)(x => x).contains(TotalValue)) {table__row--bold} @if(hasErrors) { form-field-group--error}">
    <td>
        @localisation(fieldValue.shortName.getOrElse(fieldValue.label))
    </td>

    <td>
        @if(!isSterling) {
            @currentValue
        } else {
            @currentValue
        }
    </td>
</tr>
