@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.gform.validation.FormFieldValidationResult
@import uk.gov.hmrc.gform.views.html.localisation
@import uk.gov.hmrc.gform.views.summary.TextFormatter


@(fieldValue: FormComponent, text: Text, validationResult: Option[FormFieldValidationResult])

@isSterling = @{
fieldValue.`type` match {
case Text(Sterling, _) => true
case _ => false
}
}


@* TODO: What should total style be? *@
<tr @if(fieldValue.presentationHint.fold[List[PresentationHint]](Nil)(x => x).contains(TotalValue)) {class="table__row--bold"}>
  <td>
    @localisation(fieldValue.shortName.getOrElse(fieldValue.label))
  </td>

      @if(!isSterling){
    <td>
      @TextFormatter.formatText(text, validationResult)
    </td>
      }else{
    <td>
        <span class="input-currency input--no-spinner input--left-padding input--small" >
          @TextFormatter.formatText(text, validationResult)
        </span>
    </td>
      }

</tr>
