@import uk.gov.hmrc.bforms.models.FieldValue
@import uk.gov.hmrc.bforms.models.FormFieldValidationResult
@import uk.gov.hmrc.play.views.html.helpers._

@(fieldValue: FieldValue, validationResult: Option[FormFieldValidationResult])

<div class="form-field-group form-field-group--error @if(validationResult.map(_.isOk).contains(false)) { form-field-group--error }">
  <fieldset>
    <legend class="h3-heading">@{fieldValue.label}</legend>

    @if(fieldValue.helpText) {
    <div class="form-field--hint">@localisation(fieldValue.helpText.getOrElse(""))</div>
    }

    @errorInline(fieldValue.id.value, "Please enter required data", Seq(""))

    <div class="form-date">
      <div class="form-group">
        <label class="form-label" for="@{fieldValue.id}">Day</label>

        <input type="text"
               name="@fieldValue.id"
               id="@fieldValue.id"
               value="@validationResult.map(_.getCurrentValue).getOrElse(fieldValue.value)"
               class="form-control form-control--block"
               required>
      </div>

      <div class="form-group">
        <label class="form-label" for="@{fieldValue.id}">Month</label>

        <input type="text"
               name="@fieldValue.id"
               id="@fieldValue.id"
               value="@validationResult.map(_.getCurrentValue).getOrElse(fieldValue.value)"
               class="form-control form-control--block"
               required>
      </div>

      <div class="form-group form-group-year">
        <label class="form-label" for="@{fieldValue.id}">Year</label>

        <input type="text"
               name="@fieldValue.id"
               id="@fieldValue.id"
               value="@validationResult.map(_.getCurrentValue).getOrElse(fieldValue.value)"
               class="form-control form-control--block form-control-error"
               required>
      </div>
    </div>
  </fieldset>
</div>