@import uk.gov.hmrc.bforms.models.FieldValue
@import uk.gov.hmrc.bforms.models.FormFieldValidationResult
@import uk.gov.hmrc.play.views.html.helpers._

@(fieldValue: FieldValue, validationResult: Option[FormFieldValidationResult])

<fieldset class="form-field-group @if(validationResult.map(_.isOk).contains(false)) { form-field-group--error} ">
  <p>@{fieldValue.helpText}</p>
  <label for="@{fieldValue.id}">
    <h3>@localisation(fieldValue.label)</h3>
    @errorInline(fieldValue.id.value, "Please enter required data", Seq("optional-extra-css-classes"))
    <input
       type="text"
       name="@fieldValue.id"
       id="@fieldValue.id"
       value="@validationResult.map(_.getCurrentValue).getOrElse(fieldValue.value)"
       class="form-control form-control--block"
       required>
  </label>
</fieldset>
