@import uk.gov.hmrc.bforms.models.FieldValue
@import uk.gov.hmrc.bforms.controllers.FormFieldValidationResult
@import uk.gov.hmrc.play.views.html.helpers._

@(fieldValue: FieldValue, validationResult: Option[FormFieldValidationResult])

<div class="form-field-group @if(validationResult.map(_.isOk).contains(false)) { form-field-group--error }">
  <label class="form-label" for="@{fieldValue.id}">@localisation(fieldValue.label)</label>

  @if(fieldValue.helpText) {
  <div class="form-field--hint">@{fieldValue.helpText}</div>
  }

  @errorInline(fieldValue.id.value, "Please enter required data", Seq(""))

  <input
     type="text"
     name="@fieldValue.id"
     id="@fieldValue.id"
     value="@validationResult.map(_.getCurrentValue).getOrElse(fieldValue.value)"
     class="form-control"
     required>
</div>
