@import uk.gov.hmrc.bforms.models.{FormTemplate, PageForRender, FormId}
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helper.CSRF

@(formTemplate: FormTemplate, page: PageForRender, formId: Option[FormId])(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.bforms.views.html.main_template(title = "bforms-frontend landfill tax form", bodyClasses = None) {
    <header class="page-header text">
        <h1>@localisation(formTemplate.formName)</h1>
    </header>
    <p class="subsection">
	<h2>About you</h2>
    </p>



    <form action="@uk.gov.hmrc.bforms.controllers.routes.FormGen.save(formTemplate.formTypeId, formTemplate.version, page.curr).url" method="POST" class="js-form" autocomplete="off" novalidate="novalidate">

        @{
            CSRF.formField
        }

	@{
	    page.snippets
	}

	@{
	    page.hiddenFieldsSnippets
	}

	<input
          type="text"
	  name="formId"
	  value="@{formId.map(_.value).getOrElse("")}" />

	<br>

	<p>
	    <div></div>
	</p>



	<button name="save" value="Continue">Save and Continue</button>

	<button name="save" value="Save">Save and Exit</button>

    </form>
    <script type="text/javascript">
      @Html(page.javascripts)
    </script>
}
