@import uk.gov.hmrc.bforms.models.{FormTemplate, PageForRender}
@import uk.gov.hmrc.bforms.models.form.FormId
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helper.CSRF

@(formTemplate: FormTemplate, page: PageForRender, formId: Option[FormId])(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.bforms.views.html.main_template(title = "bforms-frontend tax form", bodyClasses = None) {
    <header class="page-header">
        <h1>@localisation(formTemplate.formName)</h1>
    </header>

	  <h2 class="h2-heading">About you</h2>

    <form action="@uk.gov.hmrc.bforms.controllers.routes.FormGen.save(formTemplate.formTypeId, formTemplate.version, page.curr).url" method="POST" class="js-form" autocomplete="off" novalidate="novalidate">

        @{
            CSRF.formField
        }

      	@{
      	    page.snippets
      	}

      	@{
      	    page.hiddenFieldsSnippets
      	}

      	<input type="hidden"
      	       name="formId"
      	       value="@{formId.map(_.value).getOrElse("")}" />

        <div class="form-group divider--top--thick">
            <button type="submit" class="button" name="save" value="Continue">Save and Continue</button>
        </div>

        <div class="form-group">
            <button type="submit" class="button--secondary" name="save" value="Save">Save and come back later</button>
        </div>
    </form>

    <script type="text/javascript">
      @Html(page.javascripts)
    </script>
}
