@import uk.gov.hmrc.bforms.models.LandfillTaxDetails
@(landfillTaxForm: Form[LandfillTaxDetails], registrationNumber: String)(implicit request: Request[_], messages: Messages)


@import uk.gov.hmrc.bforms.views.html.helpers.forms.{form, submit}
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helper.CSRF

@uk.gov.hmrc.bforms.views.html.main_template(title = "bforms-frontend landfill tax form", bodyClasses = None) {
    <header class="page-header text">
        <h1>Landfill Tax Return</h1>
    </header>
    <p class="subsection">
<h2>About you</h2>
    </p>

    <form action=@uk.gov.hmrc.bforms.controllers.routes.LandfillTaxForm.landfillTaxFormSubmitContinue.url method="POST" class="js-form" autocomplete="off" novalidate="novalidate">

        @{
            CSRF.formField
        }

        @landfillTaxForm.globalError.map { error =>
            <div class="flash error-summary error-summary--show">
                @error.message
            </div>
        }

        <fieldset class="form-field-group@if(landfillTaxForm("firstName").hasErrors) { form-field-group--error}">
            <label for="arn">
                First name
                @errorInline("firstName", "Please enter your first name", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="firstName"
                id="firstname"
                value="@landfillTaxForm("firstName").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("lastName").hasErrors) { form-field-group--error}">
            <label for="arn">
                Last name
                @errorInline("lastName", "Please enter your last name", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="lastName"
                id="lastname"
                value="@landfillTaxForm("lastName").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("telephoneNumber").hasErrors) { form-field-group--error}">
            <label for="arn">
                Telephone Number
                @errorInline("telephoneNumber", "Please enter your telephone number", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="telephoneNumber"
                id="telephoneNumber"
                value="@landfillTaxForm("telephoneNumber").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("status").hasErrors) { form-field-group--error}">
            <label for="arn">
                Status
                @errorInline("status", "Please enter your status", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="status"
                id="status"
                value="@landfillTaxForm("status").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("nameOfBusiness").hasErrors) { form-field-group--error}">
            <label for="arn">
                Name of Business
                @errorInline("nameOfBusiness", "Please enter the name of your business", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="nameOfBusiness"
                id="nameOfBusiness"
                value="@landfillTaxForm("nameOfBusiness").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("accountingPeriodStartDate").hasErrors) { form-field-group--error}">
            <label for="arn">
                Accounting Period Start Date
                @errorInline("accountingPeriodStartDate", "Please enter the start date of the accounting period", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="accountingPeriodStartDate"
                id="accountingPeriodStartDate"
                value="@landfillTaxForm("accountingPeriodStartDate").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("accountingPeriodEndDate").hasErrors) { form-field-group--error}">
            <label for="arn">
                Accounting Period End Date
                @errorInline("accountingPeriodEndDate", "Please enter the end date of the accounting period", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="accountingPeriodEndDate"
                id="accountingPeriodEndDate"
                value="@landfillTaxForm("accountingPeriodEndDate").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("taxDueForThisPeriod").hasErrors) { form-field-group--error}">
            <label for="arn">
                Tax Due For This Period
                @errorInline("taxDueForThisPeriod", "Please enter the start date of the accounting period", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="taxDueForThisPeriod"
                id="taxDueForThisPeriod"
                value="@landfillTaxForm("taxDueForThisPeriod").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("underDeclarationsFromPreviousPeriod").hasErrors) { form-field-group--error}">
            <label for="arn">
                Under Declarations From Previous Period
                @errorInline("underDeclarationsFromPreviousPeriod", "Please Enter Under Declarations From Previous Period", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="underDeclarationsFromPreviousPeriod"
                id="underDeclarationsFromPreviousPeriod"
                value="@landfillTaxForm("underDeclarationsFromPreviousPeriod").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("overDeclarationsForThisPeriod").hasErrors) { form-field-group--error}">
            <label for="arn">
                Over Declarations For This Period
                @errorInline("overDeclarationsForThisPeriod", "Please Enter Over Declarations For This Period", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="overDeclarationsForThisPeriod"
                id="overDeclarationsForThisPeriod"
                value="@landfillTaxForm("overDeclarationsForThisPeriod").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("taxCreditClaimedForEnvironment").hasErrors) { form-field-group--error}">
            <label for="arn">
                Tax Credit Claimed For Environment
                @errorInline("taxCreditClaimedForEnvironment", "Please Enter Tax Credit Claimed For Environment", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="taxCreditClaimedForEnvironment"
                id="taxCreditClaimedForEnvironment"
                value="@landfillTaxForm("taxCreditClaimedForEnvironment").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("badDebtReliefClaimed").hasErrors) { form-field-group--error}">
            <label for="arn">
                Bad Debt Relief Claimed
                @errorInline("badDebtReliefClaimed", "Please Enter Bad Debt Relief Claimed", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="badDebtReliefClaimed"
                id="badDebtReliefClaimed"
                value="@landfillTaxForm("badDebtReliefClaimed").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("otherCredits").hasErrors) { form-field-group--error}">
            <label for="arn">
                Other Credits
                @errorInline("otherCredits", "Please Enter any Other Credits", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="otherCredits"
                id="otherCredits"
                value="@landfillTaxForm("otherCredits").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("standardRateWaste").hasErrors) { form-field-group--error}">
            <label for="arn">
                Standard Rate Waste
                @errorInline("standardRateWaste", "Please Enter Standard Rate Waste", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="standardRateWaste"
                id="standardRateWaste"
                value="@landfillTaxForm("standardRateWaste").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("lowerRateWaste").hasErrors) { form-field-group--error}">
            <label for="arn">
                Lower Rate Waste
                @errorInline("lowerRateWaste", "Please Enter Lower Rate Waste", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="lowerRateWaste"
                id="lowerRateWaste"
                value="@landfillTaxForm("lowerRateWaste").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("exemptWaste").hasErrors) { form-field-group--error}">
            <label for="arn">
                Exempt Waste
                @errorInline("exemptWaste", "Please Enter Exempt Waste", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="exemptWaste"
                id="exemptWaste"
                value="@landfillTaxForm("exemptWaste").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("environmentalBody1").hasErrors) { form-field-group--error}">
            <label for="arn">
                Environmental Body 1
                @errorInline("environmentalBody1", "Please Enter Environmental Body1", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="environmentalBody1"
                id="environmentalBody1"
                value="@landfillTaxForm("environmentalBody1").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("environmentalBody2").hasErrors) { form-field-group--error}">
            <label for="arn">
                Environmental Body 2
                @errorInline("environmentalBody2", "Please Enter Environmental Body 2", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="environmentalBody2"
                id="environmentalBody2"
                value="@landfillTaxForm("environmentalBody2").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("emailAddress").hasErrors) { form-field-group--error}">
            <label for="arn">
                Email Address (Optional)
                @errorInline("emailAddress", "Please Enter a Valid Email Address", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="emailAddress"
                id="emailAddress"
                value="@landfillTaxForm("emailAddress").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>

        <fieldset class="form-field-group@if(landfillTaxForm("confirmEmailAddress").hasErrors) { form-field-group--error}">
            <label for="arn">
                Confirm Email Address (Optional)
                @errorInline("emailAddress", "Please Confirm Email Address", Seq("optional-extra-css-classes"))
                <input
                type="text"
                name="confirmEmailAddress"
                id="confirmEmailAddress"
                value="@landfillTaxForm("confirmEmailAddress").value"
                class="form-control form-control--block"
                required
                >
            </label>
        </fieldset>


        <input type="hidden" name="registrationNumber" value="@registrationNumber" />

        <input type="submit" class="button" value="Submit" />

    </form>

}
