@import uk.gov.hmrc.bforms.models.{FormTemplate, SummaryForRender}
@import uk.gov.hmrc.bforms.models.form.FormId
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helper.CSRF

@(formTemplate: FormTemplate, summary: SummaryForRender, formId: FormId)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.bforms.views.html.main_template(title = "bforms-frontend tax form", bodyClasses = None, mainClass = Some("full-width")) {
    <header class="page-header text">
        <h1>@localisation(formTemplate.formName)</h1>
    </header>

    <form action="@uk.gov.hmrc.bforms.controllers.routes.SummaryGen.submit(formTemplate.formTypeId, formTemplate.version).url" method="POST" class="js-form" autocomplete="off" novalidate="novalidate">

        @{
            CSRF.formField
        }

      	@{
      	    summary.snippets
      	}

      	<input type="hidden"
      	       name="formId"
      	       value="@{formId.value}" />


        <div class="alert alert--info alert--info__light alert--borderless">
          <h2 class="heading-medium">Review your return</h2>

          <p>You can print this summary page then come back later to complete your submission.</p>

          <p>
            <a href="javascript:window.print()" class="print-link print-hidden js-visible">Print this summary page</a>
          </p>

          <div class="form-field-group">
            <button type="submit" class="button--secondary" name="save" value="Exit">Save and come back later</button>
          </div>
        </div>

        <h2 class="heading-medium">Ready to submit your return</h2>

        <p>If you are happy with the return details above, save and continue with your submission.</p>

        <button type="submit" class="button" name="save" value="Continue">Continue</button>
    </form>

    <script type="text/javascript">
      @Html(summary.javascripts)
    </script>
}
