
/* Assets Front End reset.scss is being compiled in
* wrong place - it is overriding govuk_template styles!
 */
strong {
  font-weight: 600;
}

/* Assets Front End does not apply this rule
* GDS does and it is REQUIRED for DAC accessibility
 */

input:focus, textarea:focus, select:focus, #global-header input:focus {
  outline-offset: 0;
}

.heading-caption {
  margin-top: 1.25em;
  display: block;
  margin-bottom: 0;
  color: #6f777b;
}

.heading-caption + h1.h1-heading,
.heading-caption + form fieldset>legend>h1,
.heading-caption + form h1>label.h1-heading,
.heading-caption + form h1 {
  margin-top: 0;
}

.lookup {
  width: 100%;
}

.lookup input[type="text"] {
  width: 100%;
}

.autocomplete__wrapper {
  z-index: 1;
}

.autocomplete__option {
  font-family: "nta", Arial, sans-serif;
}

/* Generic page styles */
@media (min-width: 641px) {
  .content__body .page-description {
    margin-bottom: 25px;
  }
  .lookup {
    width: 50%;
  }
}

/* Custom styles for the inline choice component */
.choice-list .choice-list__item {
  padding: 10px 0;
  display: table;
  width: 100%;
}

.choice-list .choice-list__item + .choice-list__item {
  border-top: 1px solid #BFC1C3;
}

.choice-list .choice-list__item .choice-list__item__label {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.choice-list .choice-list__item .choice-list__item__choices {
  width: 50%;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.choice-list .choice-list__item .choice-list__item__block-label {
  display: inline-block;
  float: none;
  margin: 0 0 0 10px;
}

/* Custom group component styles */
.field-group--inline > .form-group {
  width: auto;
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}
.field-group--inline > .form-group:last-child {
  margin-right: 0;
}

/* File uploader */
.file-upload__file-list {
  margin: 0;
  padding: 0;
}

.file-upload__file-list-item {
  margin: 0;
  padding: 0;
}

.file-upload__file-list-item .gf-delete {
  margin-left: 1em;
}

.file-upload__file-label {
  margin-bottom: 5px;
}

/* Info components */
.panel-info ul {
  margin-left: 1em;
}

.panel-info ul li {
  list-style-type: disc;
}

.panel-info pre code {
  border: none;
  display: block;
  line-height: 1.2em;
}

@media (min-width: 641px) {
  .form-title {
    margin-bottom: 35px;
  }
}

.heading-section {
  margin-bottom: 1.5em;
}

.section-repeating {
  border-bottom: 1px solid #999;
  margin-bottom: 1.5em;
}

.removeRepeatingSection {
  display: inline-block;
  margin-bottom: 1.25em;
}

/* Add bottom margin to collapsible panel */
.multiple-choice + .panel-indent {
  margin-bottom: 10px;
  margin-left: 16px;
}
.collapsible-group + .form-group {
  padding-top: 30px;
}

/* Summary errors */
.summary--error {
  border-left: 3px solid #df3034;
  padding-left: 10px;
}

button.button--secondary{
    border: 3px solid transparent;
}

button.button--secondary:hover,
button.button--secondary:focus,
button.button--secondary:visited,
button.button--secondary:active{
  border: 3px solid #FFBF47;
}

.button.button--link[disabled], .button.button--link[disabled]:hover {
  background: transparent;
}

/* Render number inputs differently to normal text boxes */
.input-currency .form-control {
  padding-left: 19px;
}

@media (min-width: 641px) {
  .inline .form-group {
    width: 50%;
    float: none;
    display: inline-block;
    vertical-align: bottom;
  }
  .inline .form-group .form-control {
    width: 100%;
  }
  .input-currency .form-control {
    width: 160px;
  }
  .panel-indent .form-control--numeric,
  input.form-control.form-control--numeric[type="text"],
  .form-control--numeric {
    width: 160px;
  }
}

/* Fix as my PR to fix this issue still has not been merged into assets frontend */
.form-date .form-group-year {
  width: 70px;
}

.form-date .form-group {
  width: auto;
  min-width: 50px;
}

/* Total values need to be an input to submit their value, but need to look like a text value */
.form-control--total {
  border: none;
  padding: 0;
  margin: 0;
  width: auto;
  display: inline;
  font-weight: bold;
}

/* Print styles, mainly for the summary page */
@media print {
  html, body {
    overflow: hidden;
    border: none;
    padding: 0;
    margin: 0;
  }

  #wrapper,
  #content,
  table:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  table {
    table-layout: fixed;
  }

  .js-header-toggle,
  .header__menu .header__menu__proposition-links,
  .print-hidden,
  .beta-banner, .alpha-banner,
  .report-error,
  #footer,
  #global-app-error,
  #atlwdg-trigger, #atlwdg-blanket, #atlwdg-container {
    display: none;
    height: 0;
  }
}

/* warning text pattern fix to allow for the content to be run through the markdown processor */
.notice .notice-content {
  display: block;
  padding-left: 65px;
  margin-left: -15px;
}

.notice .notice-content p {
  font-weight: 700
}

/* add relevant ul classes to subsections for elements generated via the markdown processor */
.subsection ul, .subsection ol {
  list-style-type: disc;
  padding: 0;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.subsection ul {
  list-style-type: disc;
}

.subsection ol {
  list-style-type: decimal;
}

.subsection ul li {
  margin-bottom: 5px;
}

.ack-header {
  font-size: 48px;
  margin-bottom: 30px;
}

.ack-subheader {
  font-size: 36px;
  margin-bottom: 30px;
}

.submission-reference {
  display: block;
  font-weight: bold;
}

table thead th {
  border-bottom: none;
}

table td:first-child.grid-layout__column--1-3 {
  font-weight: bold;
}

.col_2_3 {
  width: calc(100% * 2/3);
  float: left;
}

/*
* even using the CYA pattern does
* not give us this custom heading
* style for group headings
*/
.summary-group-label {
  border-bottom: none;
  font-weight: bold;
}

/* Alignment to Design system form-hint */
.form-hint{
    margin-bottom: 10px;
}

/* providing missing full width style - new DS has one */
textarea.form-control.form-control-full,
.form-control-full{
  width: 100%;
}
.char-counter [data-char-field] {
    height: auto;
}

/*
* AF 3.9.0 uses inline-block for this which
* creates double arrows in MS Edge
 */
.no-details details summary .arrow-closed {
    display: none !important;
}

.service-info > p {
  margin-top: .78947em;
}
/* clears the 'X' from Internet Explorer */
input::-ms-clear {  display: none; width : 0; height: 0; }
input::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

.ofsted-branding {
  display: block;
  position: relative;
  float: left;
  height: 48px;
  width: 86px;
  margin-top: 10px;
  background-image: url("/submissions/assets/stylesheets/ofsted-logo.png");
  background-repeat: no-repeat;
}
