/* Generic page styles */
@media (min-width: 641px) {
  .content__body .page-description {
    margin-bottom: 45px;
  }
}

/* Custom styles for the inline choice component */
.choice-list .choice-list__item {
  padding: 10px 0;
  display: table;
  width: 100%;
}

.choice-list .choice-list__item + .choice-list__item {
  border-top: 1px solid #BFC1C3;
}

.choice-list .choice-list__item .choice-list__item__label {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.choice-list .choice-list__item .choice-list__item__choices {
  width: 50%;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.choice-list .choice-list__item .choice-list__item__block-label {
  display: inline-block;
  float: none;
  margin: 0 0 0 10px;
}

/* Custom group component styles */
.field-group--inline > .form-group {
  width: auto;
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}
.field-group--inline > .form-group:last-child {
  margin-right: 0;
}

/* Info components */
.panel-info ul {
  margin-left: 1em;
}

.panel-info ul li {
  list-style-type: disc;
}

.panel-info pre code {
  border: none;
  display: block;
  line-height: 1.2em;
}

@media (min-width: 641px) {
  .form-title {
    margin-bottom: 45px;
  }
}

/* File uploader */

.file-upload__file-list {
  margin: 0;
  padding: 0;
}

.file-upload__file-list-item {
  margin: 0;
  padding: 0;
}

.file-upload__file-list-item .gf-delete {
  margin-left: 1em;
}

.file-upload__file {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-upload__file + .file-upload__file-label {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  background-color: #00823b;
  box-shadow: inset 0 -2px 0 #003618;
  cursor: pointer;
  padding: 0.35em 0.5em 0.125em 0.5em;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  margin: 10px 0 0 0;
}

.file-upload__file:focus + .file-upload__file-label {
  outline: 3px solid #ffbf47;
}

.input--file {
  border: none;
  padding: 0;
}

.heading-section {
  margin-bottom: 1.5em;
}

/* Apply appropriate padding, depending on how the repeating section is rendered */
.section-repeating:first-child,
.heading-section + .section-repeating {
  padding-top: 1em;
}

/* Add bottom margin to collapsible panel */
.multiple-choice + .panel-indent {
  margin-bottom: 10px;
}
.collapsible-group + .form-group {
  padding-top: 30px;
}

/* Summary errors */
.summary--error td:first-child {
  border-left: 3px solid #df3034;
  padding-left: 10px;
}

.summary--error .error-notification {
  padding-bottom: 0;
}

/* Make back button look like a ba ck link, CSS specificity means we can't just apply the link class */
button.link-back {
  background: transparent;
  box-shadow: none;
}

button.link-back:hover,
button.link-back:focus,
button.link-back:visited {
  color: #0B0C09;
  background: transparent;
}

/* Render number inputs differently to niormal text boxes */
@media (min-width: 641px) {
  .inline .form-group {
    width: 50%;
    float: none;
    display: inline-block;
    vertical-align: bottom;
  }
  .inline .form-group .form-control {
    width: 100%;
  }
  .input-currency .form-control {
    padding-left: 1em;
    width: 160px;
  }
  .form-control--numeric {
    width: 160px;
  }
}

/* Fix as my PR to fix this issue still has not been merged into assets frontend */
.form-date .form-group-year {
  width: 70px;
}

/* Repeating groups with horizointal formatting */
.repeating-section--remove {
  display: inline-block;
  margin-bottom: 30px;
  vertical-align: bottom;
}

.inline .repeating-section--remove {
  margin-left: 10px;
}

.inline .form-field-group--error .repeating-section--remove {
  margin-bottom: 1.25em;
}

/* Total values need to be an input to submit their value, but need to look like a text value */
.form-control--total {
  border: none;
  padding: 0;
  margin: 0;
  width: auto;
  display: inline;
  font-weight: bold;
}

/* Print styles, mainly for the summary page */
@media print {
  .js-header-toggle,
  .header__menu .header__menu__proposition-links,
  .print-hidden {
    display: none;
  }
}
