/* Custom styles for the inline choice component */
.choice-list .choice-list__item {
  padding: 10px 0;
  display: table;
  width: 100%;
}

.choice-list .choice-list__item + .choice-list__item {
  border-top: 1px solid #BFC1C3;
}

.choice-list .choice-list__item .choice-list__item__label {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.choice-list .choice-list__item .choice-list__item__choices {
  width: 50%;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.choice-list .choice-list__item .choice-list__item__block-label {
  display: inline-block;
  float: none;
  margin: 0 0 0 10px;
}

/* Custom group component styles */
.field-group--inline > .form-group {
  width: auto;
  display: inline-block;
  margin-right: 10px;
}
.field-group--inline > .form-group:last-child {
  margin-right: 0;
}

/* Info components */
.panel-info ul {
  margin-left: 1em;
}

.panel-info ul li {
  list-style-type: disc;
}

.panel-info pre code {
  border: none;
  display: block;
  line-height: 1.2em;
}

@media (min-width: 641px) {
  .form-title {
    margin-bottom: 45px;
  }
}

/* Print styles, mainly for the summary page */
@media print {
  .js-header-toggle,
  .header__menu .header__menu__proposition-links,
  .print-hidden {
    display: none;
  }
}
