@import uk.gov.hmrc.bforms.models.components.FieldValue
@import uk.gov.hmrc.bforms.models.FormFieldValidationResult
@import uk.gov.hmrc.bforms.views.html.localisation
@import uk.gov.hmrc.bforms.views._
@import uk.gov.hmrc.play.views.html.helpers._

@(fieldValue: FieldValue, validationResult: Option[FormFieldValidationResult])

<tr>
  <td>
    @localisation(fieldValue.label)
  </td>

  <td>
    @List(
        "street1",
        "street2",
        "street3",
        "town",
        "county",
        "postcode"
    ).map { suffix =>
        @if(validationResult.map(_.getCurrentValue(suffix).isEmpty).contains(false)) {
            @validationResult.map(_.getCurrentValue(suffix)).getOrElse("")<br />
        }
    }
  </td>
</tr>
