@import uk.gov.hmrc.bforms.models.components.FieldValue
@import uk.gov.hmrc.bforms.models.FormFieldValidationResult
@import uk.gov.hmrc.bforms.views.html.localisation
@import uk.gov.hmrc.play.views.html.helpers._

@(fieldValue: FieldValue, validationResult: Option[FormFieldValidationResult])

<h3>@localisation(fieldValue.label)</h3>
@if(validationResult.map(_.getCurrentValue.isEmpty).contains(true)) {
    <p>
        @{
            validationResult.map(_.getCurrentValue("day")).getOrElse("")
        }
        /
        @{
            validationResult.map(_.getCurrentValue("month")).getOrElse("")
        }
        /
        @{
            validationResult.map(_.getCurrentValue("year")).getOrElse("")
        }
    </p>
}