@import uk.gov.hmrc.gform.models.components.FieldValue
@import uk.gov.hmrc.gform.models.FormFieldValidationResult
@import uk.gov.hmrc.play.views.html.helpers._

@(international: Boolean, fieldValue: FieldValue, validationResult: Option[FormFieldValidationResult])

<div class="form-group">
    <fieldset>
        <legend class="form-label">
          Is the address based in the UK?
        </legend>

        <div class="inline">
            <label for="address-international-yes" class="block-label" data-target="address-local">
                <input
                    id="address-international-yes"
                    type="radio"
                    name="address-international"
                    value="true"
                    aria-controls="address-local"
                    aria-expanded="true"
                    checked
                />
                Yes
            </label>

            <label for="address-international-no" class="block-label" data-target="address-international">
                <input
                    id="address-international-no"
                    type="radio"
                    name="address-international"
                    value="false"
                    aria-controls="address-international"
                    aria-expanded="false"
                />
                No
            </label>
        </div>
    </fieldset>
</div>

<div id="address-local" class="form-group">
    <div class="@if(validationResult.map(_.isOk).contains(false)) { form-field-group--error }">
        <fieldset>
            <legend class="h3-heading">@localisation(fieldValue.label)</legend>
            @if(fieldValue.helpText) {
            <div class="form-field--hint">@localisation(fieldValue.helpText.getOrElse(""))</div>
            }

            @errorInline(fieldValue.id.value, "Please enter your address", Seq(""))

            <div class="form-group-compound">
                <label class="form-label" for="@{fieldValue.id}.street1">Street</label>

                <input type="text"
                       class="input--medium"
                       name="@{fieldValue.id}.street1"
                       id="@{fieldValue.id}.street1"
                       value="@validationResult.map(_.getCurrentValue("street1")).getOrElse("")" />
            </div>

            <div class="form-group-compound">
                <label class="form-label visuallyhidden" for="@{fieldValue.id}.street2">Address line 2</label>

                <input type="text"
                       class="input--medium"
                       name="@{fieldValue.id}.street2"
                       id="@{fieldValue.id}.street2"
                       value="@validationResult.map(_.getCurrentValue("street2")).getOrElse("")" />
            </div>

            <div class="form-group-related">
                <label class="form-label visuallyhidden" for="@{fieldValue.id}.street3">Address line 3</label>

                <input type="text"
                       class="input--medium"
                       name="@{fieldValue.id}.street3"
                       id="@{fieldValue.id}.street3"
                       value="@validationResult.map(_.getCurrentValue("street3")).getOrElse("")" />
            </div>

            <div class="form-group-related">
                <label class="form-label" for="@{fieldValue.id}.town">Town</label>

                <input type="text"
                       class="input--medium"
                       name="@{fieldValue.id}.town"
                       id="@{fieldValue.id}.town"
                       value="@validationResult.map(_.getCurrentValue("town")).getOrElse("")" />
            </div>

            <div class="form-field-group">
                <label class="form-label" for="@{fieldValue.id}.county">County (optional)</label>

                <input type="text"
                       class="input--medium"
                       name="@{fieldValue.id}.county"
                       id="@{fieldValue.id}.county"
                       value="@validationResult.map(_.getCurrentValue("county")).getOrElse("")" />
            </div>

            <div class="form-group">
            @if(international) {
                <label class="form-label" for="@{
                    fieldValue.id
                }.postcode">Country</label>
                <input type="hidden"
                name="@{
                    fieldValue.id
                }.country"
                id="@{
                    fieldValue.id
                }.country"
                value="@validationResult.map(_.getCurrentValue("country")).getOrElse("")" />
            } else {
                <label class="form-label" for="@{
                    fieldValue.id
                }.postcode">Postcode</label>
                <input type="text"
                class="input--small"
                name="@{
                    fieldValue.id
                }.postcode"
                id="@{
                    fieldValue.id
                }.postcode"
                value="@validationResult.map(_.getCurrentValue("postcode")).getOrElse("")" />
            }
            </div>

            <div class="form-field-group">
                <label class="form-label" for="phone-number">Phone number</label>

                <input type="text"
                class="input--medium"
                name="phone-number"
                id="phone-number"
                value="" />
            </div>

        </fieldset>
    </div>
</div>

<div id="address-international" class="form-group js-hidden" aria-hidden="true">
    <div class="@if(validationResult.map(_.isOk).contains(false)) { form-field-group--error }">
        <fieldset>
            <legend class="h3-heading">@localisation(fieldValue.label)</legend>
            @if(fieldValue.helpText) {
            <div class="form-field--hint">@localisation(fieldValue.helpText.getOrElse(""))</div>
            }

            @errorInline(fieldValue.id.value, "Please enter your street", Seq(""))

            <div class="form-group">
                <label class="form-field-label" for="@{fieldValue.id}.street1">Addess 1</label>

                <input type="text"
                       class="input--medium"
                       name="@{fieldValue.id}.street1"
                       id="@{fieldValue.id}.street1"
                       value="@validationResult.map(_.getCurrentValue("street1")).getOrElse("")" />
            </div>

            <div class="form-field-group">
                <label class="form-label" for="@{fieldValue.id}.street2">Address 2 (optional)</label>

                <input type="text"
                       class="input--medium"
                       name="@{fieldValue.id}.street2"
                       id="@{fieldValue.id}.street2"
                       value="@validationResult.map(_.getCurrentValue("street2")).getOrElse("")" />
            </div>

            <div class="form-field-group">
                <label class="form-label" for="@{fieldValue.id}.street3">Address 3 (optional)</label>

                <input type="text"
                       class="input--medium"
                       name="@{fieldValue.id}.street3"
                       id="@{fieldValue.id}.street3"
                       value="@validationResult.map(_.getCurrentValue("street3")).getOrElse("")" />
            </div>

            <div class="form-group">
                <label class="form-label" for="@{fieldValue.id}.country">Country</label>

                <input type="text"
                       class="input--medium"
                       name="@{fieldValue.id}.country"
                       id="@{fieldValue.id}.country"
                       value="@validationResult.map(_.getCurrentValue("country")).getOrElse("United Kingdom")" />
            </div>

            <div class="form-field-group">
                <div class="form-field--inline-spaced-right">
                    <label for="phone-code">Country code</label>

                    + <input type="text"
                           class="input--xsmall"
                           name="phone-code"
                           id="phone-code"
                           value="" />
                </div>

                <div class="form-field--inline-spaced-right">
                    <label for="phone-number">Phone number</label>

                    <input type="text"
                           class="push--left"
                           name="phone-number"
                           id="phone-number"
                           value="" />
                </div>
            </div>
        </fieldset>
    </div>
</div>
