@import cats.data.NonEmptyList
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.gform.service.LabelHelper
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.gform.validation.FormFieldValidationResult

@(
fieldValue: FieldValue,
options: NonEmptyList[String],
prepop: Set[String],
validationResult: Option[FormFieldValidationResult],
optionHelpText: Option[List[String]],
index: Int
)


<div class="form-group">
  <div class="@if(validationResult.map(_.isOk).contains(false)) { form-field-group--error}">
    <div class="choice-list">
      <div class="choice-list__item">
        <div class="choice-list__item__label">
          <h2 class="form-label">@{LabelHelper.buildRepeatingLabel(fieldValue, index)}</h2>

          @if(fieldValue.helpText) {
          <div class="form-field--hint">@localisation(fieldValue.helpText.getOrElse(""))</div>
          }

          @errorInline(fieldValue.id.value, fieldValue.errorMessage.getOrElse("Please enter required data"), Seq(""))
        </div>

        <div class="choice-list__item__choices">
          @options.toList.zipWithIndex.map{ case (option, index) =>
          <label
            for="@{fieldValue.id}@index"
            class="block-label choice-list__item__block-label"
          >
              <input id="@{fieldValue.id}@index"
                     name="@{fieldValue.id}"
                     value="@index"
                     type="radio"
                     @validationResult.flatMap(_.getOptionalCurrentValue(fieldValue.id.value +
                     index.toString)).orElse(prepop.find(_== index.toString)).map(_=> "checked").getOrElse("") />
              @option
          </label>
          }
        </div>
      </div>
    </div>
  </div>
</div>
