@import cats.data.NonEmptyList
@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.gform.service.LabelHelper
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.Orientation
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.FieldValue
@import uk.gov.hmrc.gform.validation.FormFieldValidationResult
@(inputType: String,
fieldValue: FieldValue,
options: NonEmptyList[String],
orientation: Orientation,
prepop: Set[String],
validationResult: Option[FormFieldValidationResult],
optionHelpText: Option[List[String]],
index: Int
)

<div class="form-group">
    <div class="@if(validationResult.map(_.isOk).contains(false)) { form-field-group--error}">
        <fieldset>
            @if(fieldValue.label) {
            <legend class="form-label">@{LabelHelper.buildRepeatingLabel(fieldValue, index)}</legend>
            }

            @if(fieldValue.helpText) {
            <div class="form-field--hint">@localisation(fieldValue.helpText.getOrElse(""))</div>
            }

            @errorInline(fieldValue.id.value, fieldValue.errorMessage.getOrElse("Please enter required data"), Seq(""))

            <div class="@if(orientation.toString.toLowerCase.equals("horizontal")) {inline}">
            @options.toList.zipWithIndex.map{ case (option, index) =>
            <label
              for="@{fieldValue.id}@index"
              class="block-label selection-button-radio"
              @if(optionHelpText) {
              data-target="helptext-@{fieldValue.id}@index"
              }
            >
                <input id="@{fieldValue.id}@index"
                       name="@{fieldValue.id}"
                       value="@index"
                       type="@inputType"
                       @if(optionHelpText) {
                       aria-controls="helptext-@{fieldValue.id}@index"
                       aria-expanded="false"
                       }
                       @validationResult.flatMap(_.getOptionalCurrentValue(fieldValue.id.value +
                       index.toString)).orElse(prepop.find(_== index.toString)).map(_=> "checked").getOrElse("") />
                @option
            </label>

            @if(optionHelpText) {
                <div id="helptext-@{fieldValue.id}@index" class="panel-indent js-hidden" aria-hidden="true">
                    @localisation(optionHelpText.getOrElse(List.empty)(index))
                </div>
            }
          }
        </div>
    </fieldset>
</div>
</div>
