@import cats.data.NonEmptyList
@import uk.gov.hmrc.gform.models.components.{FieldId, Orientation}
@import uk.gov.hmrc.gform.models.FormFieldValidationResult
@import uk.gov.hmrc.play.views.html.helpers._

@(fieldValue: FieldId,
options: NonEmptyList[String],
optionElements: Html
)

<div class="form-group">
    <div>
        <fieldset>

            @options.toList.zipWithIndex.map{ case (option, index) =>
            <label
                    for="@{fieldValue}@index"
                    class="block-label selection-button-radio"
                    data-target="helptext-@{fieldValue}@index"
            >
                <input id="@{fieldValue}@index"
                       name="@{fieldValue}"
                       value="@index"
                       type="checkbox"
                       checked/>
                @option
            </label>

            <div id="helptext-@{fieldValue}@index" class="panel-indent js-hidden" aria-hidden="true">
                @optionElements
            </div>
            }
        </fieldset>
    </div>
</div>
