@import cats.data.NonEmptyList
@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.FieldId
@import uk.gov.hmrc.gform.validation.FormFieldValidationResult
@(groupId: FieldId,
groupLabel: String,
optionElements: Html,
dataEntered: Boolean
)


@id(groupId: FieldId) = @{ "removeOnClick"+groupId.toString + "()"}

<label
        for="@{groupId}"
        class="block-label selection-button-radio"
        data-target="helptext-@{groupId}"
>
    <input id="@{groupId}"
           name="@{groupId}"
           value=""
           type="checkbox"
           @if(dataEntered) {checked}
    onchange="@id(groupId)" />
    @groupLabel
</label>

<div id="helptext-@{groupId}" class="panel-indent js-hidden" aria-hidden="true">
    @optionElements
</div>
