@import helper._
@import uk.gov.hmrc.gform.models._
@import uk.gov.hmrc.gform.gformbackend.model._
@import play.api.i18n.Messages.Implicits._

@(formTypeId: FormTypeId, version: Version, formId: FormId)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.gform.views.html.main_template(title = "Continue Where you left Off", bodyClasses = None) {
<h1>Form Started, Continue or Delete and Start again</h1>

<form action=@uk.gov.hmrc.gform.controllers.routes.FormGen.decision(formTypeId, version, formId) method="POST">

    @{CSRF.formField}

    <fieldset id="options">
        <legend class="heading-medium">
            What would you Like to do
        </legend>



        <ul>
        <label for="continue" class="block-label" style="padding-top: 0.25em;">
            <input id="continue" type="radio" name="decision" value="continue" />
            <h2 class="heading-medium">Continue Where you Left Off</h2>
            <p> you have xxxx time left to complete this form</p>
        </label>

        </ul>

        <label for="delete" class="block-label" style="padding-top: 0.25em;">
            <input id="delete" type="radio" name="decision" value="delete"/>
            <h2 class="heading-medium">Delete your progress and start again</h2>
        </label>
    </fieldset>

    <br><br><button class="button">Continue</button><br><br>
</form>
}