@import uk.gov.hmrc.gform.models.components.{BannerInfo, FieldValue, ImportantInfo, InfoType, LongInfo, StandardInfo}
@import uk.gov.hmrc.gform.service.LabelHelper

@(fieldValue: FieldValue, infoType: InfoType, text: Html, index: Int)

<div class="subsection">
  @infoType match {
    case StandardInfo => {
      <div class="panel panel-indent panel-info">
        <p>
            @text
        </p>
      </div>
    }

    case LongInfo => {
      <details class="details" role="group">
        <summary class="summary" role="button" aria-controls="details-content-@{fieldValue.id}" aria-expanded="false">@{LabelHelper.buildRepeatingLabel(fieldValue, index)}</summary>

        <div class="details__inner" id="details-content-@{fieldValue.id}" aria-hidden="true">
          <div class="panel panel-indent panel-info">
            @text
          </div>
        </div>
      </details>
    }

    case ImportantInfo => {
      <div class="alert alert--info alert--info__light panel-info">
        <p>@text</p>
      </div>
    }

    case BannerInfo => {
      <div class="transaction-banner--complete panel-info">
        <p>
          <strong class="text--bold">@{LabelHelper.buildRepeatingLabel(fieldValue, index)}</strong><br />
          @text
        </p>
      </div>
    }
  }
</div>
