@import uk.gov.hmrc.gform.models.FormFieldValidationResult
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.gform.service.LabelHelper
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._

@import uk.gov.hmrc.gform.validation.ValidationUtil
@(international: Boolean, fieldValue: FieldValue, validationResult: Option[FormFieldValidationResult], index: Int)

@safeId(id: String) = @{
  fieldValue.id.withSuffix(id).toString
}

@groupId(id: String) = @{
  if(index == 0) {
    id
  } else {
    s"${index}_${id}"
  }
}

@if(international) {
  <div class="form-group">
      <fieldset>
          <legend class="form-label">
              Is the address based in the UK?
          </legend>

          <div class="inline">
              <label for="@groupId("address-international-yes")" class="block-label" data-target="@groupId("address-local")">
                  <input
                  id="@groupId("address-international-yes")"
                  type="radio"
                  name="@safeId("uk")"
                  value="true"
                  aria-controls="@groupId("address-local")"
                  aria-expanded="true"
                  @if(validationResult.map(_.getCurrentValue(safeId("uk"))) != Some("false")) {
                      checked
                  }
                  />
                  Yes
              </label>

              <label for="@groupId("address-international-no")" class="block-label" data-target="@groupId("address-international")">
                  <input
                  id="@groupId("address-international-no")"
                  type="radio"
                  name="@safeId("uk")"
                  value="false"
                  aria-controls="@groupId("address-international")"
                  aria-expanded="false"
                  @if(validationResult.map(_.getCurrentValue(safeId("uk"))) == Some("false")) {
                      checked
                  }
                  />
                  No
              </label>
          </div>
      </fieldset>
  </div>
} else {
  <input type="hidden" name="@safeId("uk")" id="@safeId("uk")" value="true" />
}

<div class="@if(validationResult.map(_.isOk).contains(false)) { form-field-group--error }">
    <fieldset>
        <legend class="h3-heading">@localisation(LabelHelper.buildRepeatingLabel(fieldValue, index))</legend>
        @if(fieldValue.helpText) {
        <div class="form-field--hint">@localisation(fieldValue.helpText.getOrElse(""))</div>
        }

        @{
        val map: Map[String, Set[String]] = validationResult.map(x => ValidationUtil.renderErrors("", x)).getOrElse(Map.empty)
        val errors: Set[String] = ValidationUtil.printErrors(map)

//        errors.map(e => errorInline(e, e, Seq("")))
        errors.map(e => <span class="our-code">{e}</span>)

        }

        <div class="form-group-compound">
            <label class="form-label" for="@safeId("street1")">Address 1</label>

            <input type="text"
                   class="input--medium"
                   name="@safeId("street1")"
                   id="@safeId("street1")"
                   value="@validationResult.map(_.getCurrentValue(safeId("street1"))).getOrElse("")" />
        </div>

        <div class="form-group-compound">
            <label class="form-label" for="@safeId("street2")">Address 2 (optional)</label>

            <input type="text"
                   class="input--medium"
                   name="@safeId("street2")"
                   id="@safeId("street2")"
                   value="@validationResult.map(_.getCurrentValue(safeId("street2"))).getOrElse("")" />
        </div>

        <div class="form-group-related">
            <label class="form-label" for="@safeId("street3")">Address 3 (optional)</label>

            <input type="text"
                   class="input--medium"
                   name="@safeId("street3")"
                   id="@safeId("street3")"
                   value="@validationResult.map(_.getCurrentValue(safeId("street3"))).getOrElse("")" />
        </div>

        <div class="form-field-group">
            <label class="form-label" for="@safeId("street4")">Address 4 (optional)</label>

            <input type="text"
                   class="input--medium"
                   name="@safeId("street4")"
                   id="@safeId("street4")"
                   value="@validationResult.map(_.getCurrentValue(safeId("street4"))).getOrElse("")" />
        </div>

        @if(international) {
        <div id="@groupId("address-local")">
          <div class="form-group">
            <label class="form-label" for="@safeId("postcode")">Postcode</label>

            <input type="text"
                   class="input--small"
                   name="@safeId("postcode")"
                   id="@safeId("postcode")"
                   value="@validationResult.map(_.getCurrentValue(safeId("postcode"))).getOrElse("")" />
          </div>
        </div>

        <div id="@groupId("address-international")">
          <div class="form-group">
            <label class="form-label" for="@safeId("country")">Country</label>

            <input type="text"
                   name="@safeId("country")"
                   id="@safeId("country")"
                   value="@validationResult.map(_.getCurrentValue(safeId("country"))).getOrElse("")" />
          </div>
        </div>
        } else {
          <div class="form-group">
            <label class="form-label" for="@safeId("postcode")">Postcode</label>

            <input type="text"
                   class="input--small"
                   name="@safeId("postcode")"
                   id="@safeId("postcode")"
                   value="@validationResult.map(_.getCurrentValue(safeId("postcode"))).getOrElse("")" />

            <input type="hidden"
                   name="@safeId("country")"
                   id="@safeId("country")"
                   value="" />
          </div>
        }
    </fieldset>
</div>
