@import uk.gov.hmrc.gform.models.{FormFieldValidationResult, ValidationUtil}
@import uk.gov.hmrc.gform.models.components.{DateExpr, FieldValue}
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.gform.service.LabelHelper

@(fieldValue: FieldValue, validationResult: Option[FormFieldValidationResult], prepop: Option[DateExpr], index: Int)

<div class="form-group">
    <div class="@if(validationResult.map(_.isOk).contains(false)) { form-field-group--error }">
        <fieldset>
            <legend class="h3-heading">@{LabelHelper.buildRepeatingLabel(fieldValue, index)}</legend>

            @if(fieldValue.helpText) {
            <div class="form-field--hint">@localisation(fieldValue.helpText.getOrElse(""))</div>
            }
            
            @{
               val map: Map[String, Set[String]] = validationResult.map(x => ValidationUtil.renderErrors("", x)).getOrElse(Map.empty)
               val errors: Set[String] = ValidationUtil.printErrors(map)

               errors.map(e => errorInline(e, e, Seq("")))
            }

            <div class="form-date">
                <div class="form-group">
                    <label class="form-label" for="@{fieldValue.id}.day">Day</label>

                    <input type="text"
                           name="@{fieldValue.id}.day"
                           @if(!fieldValue.editable) { readonly="" }
                           id="@{fieldValue.id}.day"
                           value = "@validationResult.flatMap(_.getOptionalCurrentValue("day")).orElse(prepop.map(_.day)).getOrElse("")"
                           class="input--xxsmall" />
                </div>

                <div class="form-group">
                    <label class="form-label" for="@{fieldValue.id}.month">Month</label>

                    <input type="text"
                           name="@{fieldValue.id}.month"
                           @if(!fieldValue.editable) { readonly="" }
                           id="@{fieldValue.id}.month"
                           value = "@validationResult.flatMap(_.getOptionalCurrentValue("month")).orElse(prepop.map(_.month)).getOrElse("")"
                           class= "input--xxsmall" />
                </div>

                <div class="form-group form-group-year">
                    <label class="form-label" for="@{fieldValue.id}.year">Year</label>

                    <input type="text"
                           name="@{fieldValue.id}.year"
                           @if(!fieldValue.editable) { readonly="" }
                           id="@{fieldValue.id}.year"
                           value = "@validationResult.flatMap(_.getOptionalCurrentValue("year")).orElse(prepop.map(_.year)).getOrElse("")"
                           class="input--xsmall" />
                </div>
            </div>
        </fieldset>
    </div>
</div>
