@import uk.gov.hmrc.gform.models.components.FieldValue
@import uk.gov.hmrc.gform.models.components.{InfoType,StandardInfo,LongInfo,ImportantInfo,BannerInfo}
@import uk.gov.hmrc.gform.models.FormFieldValidationResult
@import uk.gov.hmrc.play.views.html.helpers._

@(fieldValue: FieldValue, infoType: InfoType, text: Html)

<div class="subsection">
  @infoType match {
    case StandardInfo => {
      <div class="panel panel-indent panel-info">
        <p>
            @text
        </p>
      </div>
    }

    case LongInfo => {
      <details class="details" role="group">
        <summary class="summary" role="button" aria-controls="details-content-@{fieldValue.id}" aria-expanded="false">@fieldValue.label</summary>

        <div class="details__inner" id="details-content-@{fieldValue.id}" aria-hidden="true">
          <div class="panel panel-indent panel-info">
            @text
          </div>
        </div>
      </details>
    }

    case ImportantInfo => {
      <div class="alert alert--info alert--info__light panel-info">
        <p>@text</p>
      </div>
    }

    case BannerInfo => {
      <div class="transaction-banner--complete panel-info">
        <p>
          <strong class="text--bold">@fieldValue.label</strong><br />
          @text
        </p>
      </div>
    }
  }
</div>
