@import uk.gov.hmrc.gform.models.FormFieldValidationResult
@import uk.gov.hmrc.gform.models.components.{FieldValue, Text}
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.gform.service.LabelHelper

@(fieldValue: FieldValue, text: Text, prepop: String, validationResult: Option[FormFieldValidationResult], index: Int)

<div class="form-group">
    <div class="@if(validationResult.map(_.isOk).contains(false)) { form-field-group--error }">
        @* TODO: What should total style be? *@
      <label @if(text.total) {class="form-label-bold"} else {class="form-label"} for="@{fieldValue.id}">@localisation(LabelHelper.buildRepeatingLabel(fieldValue, index))</label>

      @if(fieldValue.helpText) {
      <div class="form-field--hint">@{fieldValue.helpText}</div>
      }

      @errorInline(fieldValue.id.value, "Please enter required data", Seq(""))

      <input
         type="text"
         name="@fieldValue.id"
          @if(!fieldValue.editable) { readonly="" }
         id="@fieldValue.id"
         value="@validationResult.flatMap(_.getCurrentValue).getOrElse(prepop)"
         class="input--medium">
    </div>
</div>
