@import uk.gov.hmrc.gform.models.components.FieldValue
@import uk.gov.hmrc.gform.models.FormFieldValidationResult
@import uk.gov.hmrc.play.views.html.helpers._

@(international: Boolean, fieldValue: FieldValue, validationResult: Option[FormFieldValidationResult])

@if(international) {
  <div class="form-group">
      <fieldset>
          <legend class="form-label">
              Is the address based in the UK?
          </legend>

          <div class="inline">
              <label for="address-international-yes" class="block-label" data-target="address-local">
                  <input
                  id="address-international-yes"
                  type="radio"
                  name="@{fieldValue.id}-uk"
                  value="true"
                  aria-controls="address-local"
                  aria-expanded="true"
                  @if(validationResult.map(_.getCurrentValue("uk")) != Some("false")) {
                      checked
                  }
                  />
                  Yes
              </label>

              <label for="address-international-no" class="block-label" data-target="address-international">
                  <input
                  id="address-international-no"
                  type="radio"
                  name="@{fieldValue.id}-uk"
                  value="false"
                  aria-controls="address-international"
                  aria-expanded="false"
                  @if(validationResult.map(_.getCurrentValue("uk")) == Some("false")) {
                      checked
                  }
                  />
                  No
              </label>
          </div>
      </fieldset>
  </div>
} else {
  <input type="hidden" name="@{fieldValue.id}.uk" id="@{fieldValue.id}.uk" value="true" />
}

<div class="@if(validationResult.map(_.isOk).contains(false)) { form-field-group--error }">
    <fieldset>
        <legend class="h3-heading">@localisation(fieldValue.label)</legend>
        @if(fieldValue.helpText) {
        <div class="form-field--hint">@localisation(fieldValue.helpText.getOrElse(""))</div>
        }

        @errorInline(fieldValue.id.value, "Please enter your address", Seq(""))

        <div class="form-group-compound">
            <label class="form-label" for="@{fieldValue.id}-street1">Address 1</label>

            <input type="text"
                   class="input--medium"
                   name="@{fieldValue.id}-street1"
                   id="@{fieldValue.id}-street1"
                   value="@validationResult.map(_.getCurrentValue("street1")).getOrElse("")" />
        </div>

        <div class="form-group-compound">
            <label class="form-label" for="@{fieldValue.id}-street2">Address 2 (optional)</label>

            <input type="text"
                   class="input--medium"
                   name="@{fieldValue.id}-street2"
                   id="@{fieldValue.id}-street2"
                   value="@validationResult.map(_.getCurrentValue("street2")).getOrElse("")" />
        </div>

        <div class="form-group-related">
            <label class="form-label" for="@{fieldValue.id}-street3">Address 3 (optional)</label>

            <input type="text"
                   class="input--medium"
                   name="@{fieldValue.id}-street3"
                   id="@{fieldValue.id}-street3"
                   value="@validationResult.map(_.getCurrentValue("street3")).getOrElse("")" />
        </div>

        <div class="form-field-group">
            <label class="form-label" for="@{fieldValue.id}-town">Town</label>

            <input type="text"
                   class="input--medium"
                   name="@{fieldValue.id}-town"
                   id="@{fieldValue.id}-town"
                   value="@validationResult.map(_.getCurrentValue("town")).getOrElse("")" />
        </div>

        <div class="form-field-group">
            <label class="form-label" for="@{fieldValue.id}-county">Address 4 (optional)</label>

            <input type="text"
                   class="input--medium"
                   name="@{fieldValue.id}-county"
                   id="@{fieldValue.id}-county"
                   value="@validationResult.map(_.getCurrentValue("county")).getOrElse("")" />
        </div>

        @if(international) {
        <div id="address-local">
          <div class="form-group">
            <label class="form-label" for="@{fieldValue.id}-postcode">Postcode</label>

            <input type="text"
                   class="input--small"
                   name="@{fieldValue.id}-postcode"
                   id="@{fieldValue.id}-postcode"
                   value="@validationResult.map(_.getCurrentValue("postcode")).getOrElse("")" />
          </div>
        </div>

        <div id="address-international">
          <div class="form-group">
            <label class="form-label" for="@{fieldValue.id}-country">Country</label>

            <input type="text"
                   name="@{fieldValue.id}-country"
                   id="@{fieldValue.id}-country"
                   value="@validationResult.map(_.getCurrentValue("country")).getOrElse("")" />
          </div>
        </div>
        } else {
          <div class="form-group">
            <label class="form-label" for="@{fieldValue.id}-postcode">Postcode</label>

            <input type="text"
                   class="input--small"
                   name="@{fieldValue.id}-postcode"
                   id="@{fieldValue.id}-postcode"
                   value="@validationResult.map(_.getCurrentValue("postcode")).getOrElse("")" />

            <input type="hidden"
                   name="@{fieldValue.id}-country"
                   id="@{fieldValue.id}-country"
                   value="" />
          </div>
        }

        <div class="form-field-group">
            <label class="form-label" for="phone-number">Phone number</label>

            <input type="text"
            class="input--medium"
            name="phone-number"
            id="phone-number"
            value="" />
        </div>
    </fieldset>
</div>
