@import uk.gov.hmrc.gform.gformbackend.model.{FormId, FormTemplate}
@import uk.gov.hmrc.gform.models.PageForRender
@import views.html.helper.CSRF
@(formTemplate: FormTemplate, page: PageForRender, formId: Option[FormId])(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.gform.views.html.main_template(title = localisation(formTemplate.formName), bodyClasses = None) {
    <h1 class="h1-heading form-title">@localisation(page.sectionTitle)</h1>

    <form action="@uk.gov.hmrc.gform.controllers.routes.FormGen.save(formTemplate.formTypeId, formTemplate.version, page.curr).url" method="POST" class="js-form" autocomplete="off" novalidate="novalidate">

        @{
            CSRF.formField
        }

      	@{
      	    page.snippets
      	}

      	@{
      	    page.hiddenFieldsSnippets
      	}

      	<input type="hidden"
      	       name="formId"
      	       value="@{formId.map(_.value).getOrElse("")}" />

        <div class="form-group divider--top--thick">
            <button type="submit" class="button" name="save" value="Continue">Save and Continue</button>
        </div>

        <div class="form-group">
            <button type="submit" class="button--secondary" name="save" value="Save">Save and come back later</button>
        </div>
    </form>

    <script type="text/javascript">
      @Html(page.javascripts)
    </script>
}
