@import uk.gov.hmrc.gform.models.components.{FieldValue, Orientation, Horizontal, Vertical, Group}
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helper.CSRF
@import scala.concurrent.Future


@(fieldValue: FieldValue, groupField: Group, snippets: List[Html], orientation: Orientation)


<fieldset>
  <div class="form-group divider--top--thick">
      <legend class="h3-heading">@localisation(fieldValue.label)</legend>
      @if(groupField.repeatAddAnotherText.isDefined && groupField.repeatsMax.isDefined) {
      <button type="submit" class="button" name="save" value="AddGroup-@fieldValue.id">@localisation(groupField.repeatAddAnotherText.getOrElse("Add group"))</button>
      }
  </div>
  <div class="field-group @if(orientation==Horizontal) {field-group--inline}">
    @{
  	   snippets
  	}
  </div>
</fieldset>
