@import uk.gov.hmrc.gform.gformbackend.model.{FormId, FormTemplate}
@import uk.gov.hmrc.gform.models.SummaryForRender
@import views.html.helper.CSRF
@(formTemplate: FormTemplate, summary: SummaryForRender, formId: FormId)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.gform.views.html.main_template(title = localisation(formTemplate.formName), bodyClasses = None, mainClass = Some("full-width")) {
    <h1 class="h1-heading">Check your details</h1>

    <p>
      Make sure that the information you have given is correct before submitting your return.
    </p>

    <form action="@uk.gov.hmrc.gform.controllers.routes.SummaryGen.submit(formId).url" method="POST" class="js-form" autocomplete="off" novalidate="novalidate">

        @{
            CSRF.formField
        }

      	@{
      	    summary.snippets
      	}

      	<input type="hidden"
      	       name="formId"
      	       value="@{formId.value}" />


        <div class="alert alert--info alert--info__light alert--borderless print-hidden">
          <h2 class="heading-medium">Review your return</h2>

          <p>You can print this summary page then come back later to complete your submission.</p>

          <p>
            <a href="javascript:window.print()" class="print-link print-hidden js-visible">Print this summary page</a>
          </p>

          <div class="form-field-group">
            <button type="submit" class="button--secondary" name="save" value="Exit">Save and come back later</button>
          </div>
        </div>

        <div class="print-hidden">
          <h2 class="heading-medium">Ready to submit your return</h2>

          <p>If you are happy with the return details above, save and continue with your submission.</p>

          <button type="submit" class="button" name="save" value="Continue">Continue</button>
        </div>
    </form>

    <script type="text/javascript">
      @Html(summary.javascripts)
    </script>
}
