@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.gform.models._
@import uk.gov.hmrc.gform.views.html._
@import uk.gov.hmrc.gform.summary.SummaryForRender
@import views.html.helper.CSRF
@import scala.concurrent.ExecutionContext
@import uk.gov.hmrc.gform.config.FrontendAppConfig

@(
    formTemplate: FormTemplate,
    summary: SummaryForRender,
    formId: FormId,
    formCategory: FormCategory,
    lang: Option[String],
    frontendAppConfig: FrontendAppConfig
)(implicit request: Request[_],
        messages: Messages,
        ec: ExecutionContext
)

@uk.gov.hmrc.gform.views.html.main_template(
    title = localisation(formTemplate.formName),
    bodyClasses = None,
    mainClass = Some("full-width"),
    frontendAppConfig = frontendAppConfig
) {
    <h1 class="h1-heading">Check your answers</h1>

    <p>
      Make sure that the information you have given is correct before submitting your @{formCategory.getString}.
    </p>

    <form action="@uk.gov.hmrc.gform.gform.routes.SummaryController.submit(formId, formTemplate._id, summary.totalPage, lang).url" method="POST" class="js-form" autocomplete="off" novalidate="novalidate">

        @{
            CSRF.formField
        }

      	@{
      	    summary.snippets
      	}

      	<input type="hidden"
      	       name="formId"
      	       value="@{formId.value}" />


        <div class="print-hidden">
          <p>You can print this summary page then come back later to complete your submission.</p>

          <p>
            <a href="@uk.gov.hmrc.gform.gform.routes.SummaryController.downloadPDF(formId, formTemplate._id, lang).url" class="print-link print-hidden js-visible">Print this summary page</a>
          </p>
        </div>

        <div class="print-hidden">
          <div class="form-group divider--top--thick">
              <button type="submit" class="button" name="save" value="Declaration">Save and continue</button>
          </div>

          <div class="form-group">
              <button type="submit" class="button--secondary" name="save" value="Exit">Save and come back later</button>
          </div>
        </div>
    </form>

    <script type="text/javascript">

      @summary.javascripts
    </script>
}
