@import uk.gov.hmrc.gform.service.LabelHelper
@import uk.gov.hmrc.gform.sharedmodel.form._
@import java.time.LocalDate
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.InfoType
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.StandardInfo
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.LongInfo
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.ImportantInfo
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.BannerInfo
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.FieldValue

@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.gform.models._

@import views.html.helper.CSRF

@(ackSection: AckSection)(implicit request: Request[_], messages: Messages){

<h2 class="heading-medium">@{ackSection.title}</h2>
<p>@{ackSection.content}</p>

}

