$govuk-assets-path: "/submissions/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/submissions/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";

@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

.gform-warning-text__icon_adjustment {
    top: 50%;
    margin-top: -17px;;
}

// accessible-autocomplete doesn't support class customization.
.gform-lookup-error .autocomplete__input {
    // Copied from .govuk-input--error in _input.scss
    border: $govuk-border-width-form-element-error solid $govuk-error-colour;

    &:focus {
      border-color: $govuk-input-border-colour;
      // Remove `box-shadow` inherited from `:focus` as `input--error`
      // already has the thicker border.
      box-shadow: none;
    }
}

.print-link {
  background: transparent no-repeat 0 50%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASAgMAAAAvVbb5AAAACVBMVEX///////8KDAwmYEUdAAAAAXRSTlMAQObYZgAAADBJREFUCFtjYOBa1cDAoBkKJFYCCSYwEYpCrAICZCI0FEhkrURmQRRnrYRpW7WqAQAlGR86Ip1rwwAAAABJRU5ErkJggg==");
  padding: 0.5em 0 0.5em 28px;
  zoom: 1;
}

.hmrc-banner {
    padding-bottom: 0px;
}

.hmrc-language-select__list {
    margin-top: 0em;
    margin-bottom: 0em;
}

.hmrc-page-heading {
    margin-top: 0em;
    margin-bottom: 0.75em;
    padding-top: 0px;
}

.gform-details {
    margin-top: 30px;
}

@media (min-width: 48.0625em) {
  .hmrc-add-to-a-list--wide {
    width: 100%;
  }
  .hmrc-add-to-a-list--wide .hmrc-add-to-a-list__identifier {
    width: 75%;
  }
}

.no-display {
    display: none!important
}