@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.gform.service.LabelHelper
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.Text
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.FormComponent
@import uk.gov.hmrc.gform.validation.{FormFieldValidationResult, ValidationUtil}
@import uk.gov.hmrc.gform.views.html._
@import uk.gov.hmrc.gform.views.summary.TextFormatter


@import uk.gov.hmrc.gform.validation.{FormFieldValidationResult, ValidationUtil}
@(fieldValue: FormComponent, text: Text, prepop: String, validationResult: Option[FormFieldValidationResult], index: Int, sectionTitle: String)

@isSterling = @{
    fieldValue.`type` match {
        case Text(Sterling, _) => true
        case _ => false
    }
}

<div class="form-group @if(validationResult.map(_.isOk).contains(false)) {form-field-group--error}">
    @if(localisation(LabelHelper.buildRepeatingLabel(fieldValue, index)).nonEmpty) {
      <label class="form-label @if(fieldValue.derived){js-hidden}" for="@{fieldValue.id}">
      @localisation(LabelHelper.buildRepeatingLabel(fieldValue, index))
      </label>
    } else {
      <label for="@{fieldValue.id}" class="visuallyhidden">@sectionTitle</label>
    }

    @if(fieldValue.helpText) {
    <div class="form-field--hint @if(fieldValue.derived){js-hidden}">@{fieldValue.helpText}</div>
    }

    @{
        val map: Map[String, Set[String]] = validationResult.map(x => ValidationUtil.renderErrors("", x)).getOrElse(Map.empty)
        val errors: Set[String] = ValidationUtil.printErrors(map)

        errors.map(e => errorInline(e, e, Seq("")))
    }

    @if(!isSterling) {
    <input
        type="text"
        name="@fieldValue.id"
        @if(!fieldValue.editable) { readonly="" }
        id="@fieldValue.id"
        value="@validationResult.flatMap(_.getCurrentValue).getOrElse(prepop)"
        class="form-control @if(fieldValue.derived){js-hidden}">  @TextFormatter.appendUnit(text)
    } else {
    <span class="input-currency">
        <input
            type="text"
            name="@fieldValue.id"
            @if(!fieldValue.editable) { readonly="" }
            id="@fieldValue.id"
            value="@validationResult.flatMap(_.getCurrentValue).getOrElse(prepop)"
            class="form-control input--no-spinner input--left-padding">
    </span>
    }
</div>
