@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.gform.service.LabelHelper
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.Text
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.FormComponent
@import uk.gov.hmrc.gform.validation.{FormFieldValidationResult, ValidationUtil}
@import uk.gov.hmrc.gform.views.html._
@import uk.gov.hmrc.gform.views.summary.TextFormatter

@import uk.gov.hmrc.gform.validation.{FormFieldValidationResult, ValidationUtil}
@(fieldValue: FormComponent, text: Text, prepop: String, validationResult: Option[FormFieldValidationResult], index: Int, sectionTitle: String)

<div class="form-group @if(validationResult.map(_.isOk).contains(false)) {form-field-group--error}">
    @{
        val map: Map[String, Set[String]] = validationResult.map(x => ValidationUtil.renderErrors("", x)).getOrElse(Map.empty)
        val errors: Set[String] = ValidationUtil.printErrors(map)

        errors.map(e => errorInline(e, e, Seq("")))
    }

    <div class="grid-row">
        <div class="column-half">
            <span class="heading-small">
              @if(localisation(LabelHelper.buildRepeatingLabel(fieldValue, index)).nonEmpty) {
                  @localisation(LabelHelper.buildRepeatingLabel(fieldValue, index))
              } else {
                Total
              }
            </span>
        </div>

        <div class="column-half text--right">
            <span class="heading-small">
                &pound; <span id="@fieldValue.id">@validationResult.flatMap(_.getCurrentValue).getOrElse(prepop)</span>
            </span>
        </div>
    </div>
</div>
