@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.gform.models._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helper.CSRF
@import scala.concurrent.Future
@import uk.gov.hmrc.gform.service.LabelHelper
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.Group
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.Orientation
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.Horizontal
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.FieldValue
@import uk.gov.hmrc.gform.views.html._


@(fieldValue: FieldValue, groupField: Group, snippets: List[Html], orientation: Orientation, disableAddButton: Boolean, index: Int)

<fieldset>
  <legend class="visuallyhidden">
    Add @localisation(LabelHelper.buildRepeatingLabel(fieldValue, index))
  </legend>

  @if(!fieldValue.label.isEmpty) {
    <div class="subsection">
      <div class="divider--bottom">
        <div class="form-field-group">
          <h2 class="heading-small">
            @if(!groupField.repeatsMax.isDefined) {
              @localisation(LabelHelper.buildRepeatingLabel(fieldValue, index))
            } else {
              @localisation(fieldValue.label)
            }
          </h2>
        </div>
      </div>
    </div>
  }

  <div class="field-group @if(orientation==Horizontal) {field-group--inline}">
    @{
  	   snippets
  	}
  </div>

  @if(groupField.repeatsMax.isDefined && !disableAddButton) {
  <div class="form-group">
    <button
      type="submit"
      class="button button--link soft--left"
      name="save"
      value="AddGroup-@fieldValue.id">
      @localisation(groupField.repeatAddAnotherText.getOrElse("Add another"))
    </button>
  </div>
  }
</fieldset>
