@import uk.gov.hmrc.gform.models.FormFieldValidationResult
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.gform.views.html.localisation
@import uk.gov.hmrc.gform.validation.ValidationUtil
@import uk.gov.hmrc.play.views.html.helpers._

@(fieldValue: FieldValue, validationResult: Option[FormFieldValidationResult])

    @safeId(id: String) = @{
        fieldValue.id.withSuffix(id).value
    }

    <tr class="error"> //need If statement here.

        <td>
        @localisation(fieldValue.shortName.getOrElse(fieldValue.label))
        </td>
        <td>

            @{
            val map: Map[String, Set[String]] = validationResult.map(x => ValidationUtil.renderErrors("", x)).getOrElse(Map.empty)
            val errors: Set[String] = ValidationUtil.printErrors(map)

            errors.map(e => errorInline(e, e, Seq("")))
            }

        </td>
        <td>
            @List(
            "street1",
            "street2",
            "street3",
            "street4",
            "postcode",
            "country"
            ).map { suffix =>
            @if(validationResult.map(_.getCurrentValue(safeId(suffix)).isEmpty).contains(false)) {
            @validationResult.map(_.getCurrentValue(safeId(suffix))).getOrElse("")
            <br />
            }
            }
        </td>
    </tr>
