@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.gform.validation.FormFieldValidationResult
@import uk.gov.hmrc.gform.views.html.localisation
@import uk.gov.hmrc.play.views.html.helpers._

@(fieldValue: FieldValue, validationResultO: Option[FormFieldValidationResult])

    @validationResult = @{
        //it's always there, TODO: change template signature
        validationResultO.get
    }

    @safeId(id: String) = @{
        fieldValue.id.withSuffix(id).value
    }

    @showError(e: String) = @{
        errorInline(e, e, Seq(""))
    }

    <tr class="@{if(validationResult.isNotOk) "error"}">

        <td>
        @localisation(fieldValue.shortName.getOrElse(fieldValue.label))
        </td>
        <td>

            @{validationResult.globalErrors.map {error => {error}  }}
            @{validationResult.fieldErrorsByField.map {case(field, errors) =>
                errors.map(e => showError(e))
            }}
        </td>
        <td>
            @List(
            "street1",
            "street2",
            "street3",
            "street4",
            "postcode",
            "country"
            ).map { suffix =>
            @if(validationResultO.map(_.getCurrentValue(safeId(suffix)).isEmpty).contains(false)) {
            @validationResultO.map(_.getCurrentValue(safeId(suffix))).getOrElse("")
            <br />
            }
            }
        </td>
    </tr>
