@import uk.gov.hmrc.gform.models.FormFieldValidationResult
@import uk.gov.hmrc.gform.models.components.FieldValue
@import uk.gov.hmrc.gform.models.helpers.DateHelperFunctions._
@import uk.gov.hmrc.gform.views.html.localisation

@(fieldValue: FieldValue, validationResult: Option[FormFieldValidationResult])

<tr>
  <td>
    @localisation(fieldValue.shortName.getOrElse(fieldValue.label))
  </td>

  <td>
    @if(validationResult.map(_.getCurrentValue.isEmpty).contains(true)) {
        @{renderMonth(validationResult.map(_.getCurrentValue("day"))).getOrElse("")} @{getMonthValue(validationResult.map(_.getCurrentValue("month"))).getOrElse("")} @{validationResult.map(_.getCurrentValue("year")).getOrElse("")}
    }
  </td>
</tr>
