@import uk.gov.hmrc.gform.models.components.{FieldValue, Orientation, Horizontal, Vertical, SummariseGroupAsGrid}
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.gform.views.html.localisation
@import views.html.helper.CSRF
@import scala.concurrent.Future

@(fieldValue: FieldValue, snippets: List[Html], orientation: Orientation)

<tr>
    <td>
        @localisation(fieldValue.shortName.getOrElse(fieldValue.label))
    </td>

    <td>
        @if(!fieldValue.presentationHint.map(_.filter(_==SummariseGroupAsGrid)).getOrElse(Nil).isEmpty) { to be rendered as grid... }
      @{
         snippets
      }
    </td>
</tr>
