@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.gform.models.FormFieldValidationResult

@import uk.gov.hmrc.gform.views.html.localisation

@import uk.gov.hmrc.gform.sharedmodel.formtemplate.UkSortCode
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.FieldValue
@(fieldValue: FieldValue, validationResult: Option[FormFieldValidationResult])

@safeId(id: String) = @{
fieldValue.id.withSuffix(id).value
}

@* TODO: What should total style be? *@
<tr class="table__row--bold">
  <td>
    @localisation(fieldValue.shortName.getOrElse(fieldValue.label))
  </td>
  <td>
    @validationResult.map(_.getCurrentValue(safeId("1"))).getOrElse("") - @validationResult.map(_.getCurrentValue(safeId("2"))).getOrElse("") - @validationResult.map(_.getCurrentValue(safeId("3"))).getOrElse("")
  </td>
</tr>
