@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.gform.models.FormFieldValidationResult

@import uk.gov.hmrc.gform.views.html.localisation

@import uk.gov.hmrc.gform.sharedmodel.formtemplate.UkSortCode
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.FieldValue
@(fieldValue: FieldValue, validationResult: Option[FormFieldValidationResult])

@safeId(id: String) = @{
fieldValue.id.withSuffix(id).value
}

@* TODO: What should total style be? *@
<tr class="table__row--bold">
  <td>
    @localisation(fieldValue.shortName.getOrElse(fieldValue.label))
  </td>
  <td>
    @List(
    "street1",
    "street2",
    "street3",
    "street4",
    "postcode",
    "country"
    ).map { suffix =>
    @if(validationResult.map(_.getCurrentValue(safeId(suffix)).isEmpty).contains(false)) {
    @validationResult.map(_.getCurrentValue(safeId(suffix))).getOrElse("")<br />
    }
    }
  </td>
</tr>
