@import uk.gov.hmrc.gform.models.components.{FieldValue,Text}
@import uk.gov.hmrc.gform.models.FormFieldValidationResult
@import uk.gov.hmrc.gform.views.html.localisation
@import uk.gov.hmrc.play.views.html.helpers._

@(fieldValue: FieldValue, text: Text, validationResult: Option[FormFieldValidationResult])

@* TODO: What should total style be? *@
<tr @if(text.total) {class="table__row--bold"}>
  <td>
    @localisation(fieldValue.shortName.getOrElse(fieldValue.label))
  </td>
  <td>
    @validationResult.map(_.getCurrentValue).getOrElse("")
  </td>
</tr>
