@import uk.gov.hmrc.gform.sharedmodel.form._
@import uk.gov.hmrc.gform.sharedmodel.formtemplate._
@import uk.gov.hmrc.gform.models.FormFieldValidationResult

@import uk.gov.hmrc.gform.views.html.localisation

@import uk.gov.hmrc.gform.sharedmodel.formtemplate.Text
@import uk.gov.hmrc.gform.sharedmodel.formtemplate.FieldValue
@(fieldValue: FieldValue, text: Text, validationResult: Option[FormFieldValidationResult])

@* TODO: What should total style be? *@
<tr @if(text.total) {class="table__row--bold"}>
  <td>
    @localisation(fieldValue.shortName.getOrElse(fieldValue.label))
  </td>
  <td>
    @validationResult.map(_.getCurrentValue).getOrElse("")
  </td>
</tr>
